.box{
    width: 200px; /* coluna vertical*/
    height: 350px; /* linha horizontal*/
    background-color: #5d4caf;
    color: white;
    padding: 20px; /*espaço interno */
    margin: 15px auto; /*espaço externo */ /*margin: top-botton esquerda-direita*/
    border-radius: 10px; /*bordas arrendondadas*/
    text-align: center;/*alinhar no centro*/
    font-size: 18px
}

body{
    text-align: center;
}
